body,
html {
    scrollbar-base-color: lightblue;
}

:root * {
    box-sizing: border-box;
    font-size: 1em;
}

body * + * {
    margin-top: 1.5 em;
}

.container {
}

.flex {
    display: flex;
}

.left-panel,
.right-panel {
    flex-direction: column;
}

.left-panel {
    width: 35%;
    height: 100vh;
    overflow-y: auto;
    background: #222;
}

.right-panel {
    width: 65%;
    height: 100vh;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.story-list {
    display: flex;
    flex-direction: column;
}

.width-100 {
    min-width: 100%;
}

.story-list-item {
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    color: #ccc;
}

.story-list-item:nth-child(even) {
    background: repeating-linear-gradient(
        135deg,
        #333 0rem,
        #444 1rem
    )
}

.story-list-header {
    background: yellowgreen;
    text-align: center;
    box-sizing: border-box;
    border: .1px solid black;
    color: #fff;
    text-transform: uppercase;
}

.story-list-item-desc {
    flex-grow: 1;
    flex-shrink: 1;
}

.story-list-item-icon,
.story-list-item-count
{
    width: 2rem;
    padding: 0 1rem;
    text-align: center;
}

.profile-header {
    background: #fff;
    height: 10rem;
    flex-direction: column;
}

.profile-view {
    border-bottom: 1px solid #ccc;
    flex-direction: column;
}

.profile {
    height: 5rem;
    flex-grow: 1;
    padding: 0 2rem;
    margin-bottom: .5rem;
}

.profile-control {
    flex-shrink: 1;
    flex-direction: row-reverse;
}

.story-feed {
    background: cornflowerblue;
    flex-grow: 1;
}

.profile-control-button {
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
}

.menu {
    height: 2rem;
    justify-content: space-around;
}

.menu div {
    cursor: pointer;   
}

.profile-pic {
    background: url(IMG_20180424_194904-01.jpeg);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-size: contain;
}

.profile-info {
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
}

.profile-name {
    margin-left: 1rem;
    text-transform: uppercase;
}

.profile-activity * {
    margin-left: 1rem;
}